.git
.gitignore
.turbo
node_modules
**/node_modules
dist
build
.next
out
coverage
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
*.tsbuildinfo
